* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --default-dash: 3, 132.5, 0;
  --default-bgdash: 51.5, 10.5, 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
  margin: 0;
}

button.best-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
button.best-btn:has(input.first:checked) {
  background-color: #e8ffee;
}
button.best-btn:has(input.second:checked) {
  background-color: #f0faff;
}
button.best-btn:has(input.third:checked) {
  background-color: #fff5e6;
}
button.best-btn:has(input.fourth:checked) {
  background-color: rgb(255, 227, 255);
}
button.best-btn:has(input.fifth:checked) {
  background-color: rgb(255, 226, 226);
}
button.best-btn:has(input.sixth:checked) {
  background-color: rgb(255, 237, 237);
}
button.best-btn:has(input.first:checked) svg {
  stroke: #1ea446;
}
button.best-btn:has(input.second:checked) svg {
  stroke: #1b6ef3;
}
button.best-btn:has(input.third:checked) svg {
  stroke: #f09409;
}
button.best-btn:has(input.fourth:checked) svg {
  stroke: purple;
}
button.best-btn:has(input.fifth:checked) svg {
  stroke: brown;
}
button.best-btn:has(input.sixth:checked) svg {
  stroke: red;
}

input[type="radio"] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  z-index: 100;
}
input[type="radio"]:checked {
  display: none;
}
input[type="radio"]:checked + input {
  display: block;
}

button.best-btn:has(input.sixth:checked) input.first {
  display: block;
}

.text {
  color: #222;
  font-size: 1rem;
  font-weight: 700;
}

svg {
  stroke: green;
  height: 2em;
  overflow: visible;
}

svg path {
  fill: #0000;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.5s all;
}

.bg {
  stroke-opacity: 0.15;
  stroke-dasharray: 5 0;
}

.fg {
  stroke-dasharray: 0, 50, 30;
}

.texts {
  position: relative;
  width: 140px;
}
.texts .text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: max-content;
  height: max-content;
  opacity: 0;
  animation: go 0.5s both;
}

input.first:checked ~ .texts .text.first {
  animation: come 0.5s both;
}
input.second:checked ~ .texts .text.second {
  animation: come 0.5s both;
}
input.third:checked ~ .texts .text.third {
  animation: come 0.5s both;
}
input.fourth:checked ~ .texts .text.fourth {
  animation: come 0.5s both;
}
input.fifth:checked ~ .texts .text.fifth {
  animation: come 0.5s both;
}
input.sixth:checked ~ .texts .text.sixth {
  animation: come 0.5s both;
}

@keyframes come {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
@keyframes go {
  0% {
    opacity: 1;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

input.first:checked ~ svg .bg {
  stroke-dashoffset: 0;
}
input.first:checked ~ svg .fg {
  stroke-dashoffset: 0;
}
input.second:checked ~ svg .bg {
  stroke-dasharray: 0 5;
}
input.third:checked ~ svg .fg {
  stroke-dasharray: 20, 20, 20, 20;
  stroke-dashoffset: 10;
}
input.fourth:checked ~ svg .fg {
  stroke-dasharray: 20, 20, 20, 20;
}
input.fifth:checked ~ svg .fg {
  stroke-dasharray: 0, 10, 20, 10, 10, 20, 10;
  stroke-dashoffset: 0;
}
input.sixth:checked ~ svg .fg {
  stroke-dasharray: 20, 20, 20, 20;
  stroke-dashoffset: 30;
}
